In [36]:
import pandas as pd
import numpy as np
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")
test_label=pd.read_csv("test_label.csv")

In [37]:
train

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12865,14023,47,technician,married,secondary,no,1167,yes,no,cellular,30,apr,1,87,5,failure,yes
12866,17259,31,unknown,married,secondary,no,111,no,no,cellular,21,nov,2,93,2,failure,yes
12867,15200,37,unemployed,single,tertiary,no,1316,yes,no,cellular,18,nov,1,172,2,failure,no
12868,13775,42,management,married,tertiary,no,479,yes,no,unknown,28,may,2,-1,0,unknown,no
12869,20137,24,services,single,secondary,no,0,no,no,unknown,16,may,1,-1,0,unknown,no

In [38]:

train_one=pd.get_dummies(train)
test_one=pd.get_dummies(test)
test_label=pd.get_dummies(test_label)
test_label

         ID  y_no  y_yes
0     53608     0      1
1     51055     0      1
2     52573     1      0
3     50458     1      0
4     52272     1      0
...     ...   ...    ...
4286  50332     1      0
4287  51293     0      1
4288  54023     1      0
4289  53775     0      1
4290  51945     1      0

[4291 rows x 3 columns]

In [39]:
train_one

,ID,age,balance,day,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,...,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown,y_no,y_yes
0,13829,29,18254,11,2,-1,0,0,0,0,...,1,0,0,0,0,0,0,1,1,0
1,22677,26,512,5,3,-1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2,10541,30,135,14,2,-1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
3,13689,41,30,10,1,-1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,11304,27,321,2,1,-1,0,1,0,0,...,0,0,0,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12865,14023,47,1167,30,1,87,5,0,0,0,...,0,0,0,0,1,0,0,0,0,1
12866,17259,31,111,21,2,93,2,0,0,0,...,0,1,0,0,1,0,0,0,0,1
12867,15200,37,1316,18,1,172,2,0,0,0,...,0,1,0,0,1,0,0,0,1,0
12868,13775,42,479,28,2,-1,0,0,0,0,...,1,0,0,0,0,0,0,1,1,0
12869,20137,24,0,16,1,-1,0,0,0,0,...,1,0,0,0,0,0,0,1,1,0

In [40]:
test_one

,ID,age,balance,day,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,53608,32,12569,1,2,295,2,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,51055,25,801,5,2,-1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,52573,46,1728,26,2,-1,0,0,1,0,...,0,0,1,0,0,0,0,0,0,1
3,50458,39,51,17,2,-1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
4,52272,31,1626,31,1,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4286,50332,47,520,9,6,-1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4287,51293,33,133,12,2,192,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
4288,54023,40,2574,20,1,-1,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
4289,53775,39,2467,19,2,276,3,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4290,51945,46,49,27,6,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [41]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

from sklearn.metrics import f1_score

In [35]:
#LinearSVC
pipea=Pipeline([('sc', StandardScaler()),('svc',SVC())])

parameters = {

    'svc__C': [0.8,1,1.2,1.4]
    
}
gs = GridSearchCV(pipea, parameters, verbose=2, refit=True, cv=3, n_jobs=-1)
gs.fit(train_one.iloc[:,:-2], train_one.iloc[:,-2])


# best C and best score
print (gs.best_params_, '---',gs.best_score_) 

pipea.fit(train_one.iloc[:,:-2], train_one.iloc[:,-2])

# predict
pre=pipea.predict(train_one.iloc[:,:-2])
pre1=pipea.predict(test_one)

# Accuracy 
print(pipea.score(train_one.iloc[:,:-2], train_one.iloc[:,-2]))
print(pipea.score(test_one, test_label.iloc[:,1]))

# Macro and Micro-Averaged Precision and Recall
# F1 Score

aa_f1= f1_score(pre,train_one.iloc[:,-2],average='macro') 
ai_f1= f1_score(pre,train_one.iloc[:,-2],average='micro')
a_f1= f1_score(pre,train_one.iloc[:,-2])


aa_f12= f1_score(pre1,test_label.iloc[:,1],average='macro') 
ai_f12= f1_score(pre1,test_label.iloc[:,1],average='micro')
a_f12= f1_score(pre1,test_label.iloc[:,1])

Fitting 3 folds for each of 4 candidates, totalling 12 fits
{'svc__C': 1} --- 0.7845376845376846
0.805050505050505
0.7748776508972267

In [48]:
print(aa_f1)
print(ai_f1)
print(a_f1)

print(aa_f12)
print(ai_f12)
print(a_f12)

0.7415073849938159
0.805050505050505
0.8696691080982806
0.6783118673111129
0.7748776508972267
0.8545618789521229

In [43]:
#without scaling
clf=SVC()
clf.fit(train_one.iloc[:,:-2], train_one.iloc[:,-2])
print(clf.score(train_one.iloc[:,:-2], train_one.iloc[:,-2]) )

'''
By comparison，the score with scaling is higher than that without scaling

'''

0.6919191919191919

'\nBy comparison，the score with scaling is higher than that without scaling\n\n'

In [44]:
KNeighborsClassifier().get_params().keys()

dict_keys(['algorithm', 'leaf_size', 'metric', 'metric_params', 'n_jobs', 'n_neighbors', 'p', 'weights'])

In [46]:
#LogisticRegression
pipeb=Pipeline([('sc', StandardScaler()),('logres',LogisticRegression())])

parameters = {'logres__C':[1,2,3]}

gs = GridSearchCV(pipeb, parameters, verbose=2, refit=True, cv=3, n_jobs=-1)
gs.fit(train_one.iloc[:,:-2], train_one.iloc[:,-2])


# best C and best score
print (gs.best_params_, '---',gs.best_score_) 

pipeb.fit(train_one.iloc[:,:-2], train_one.iloc[:,-2])

# predict
pre=pipeb.predict(train_one.iloc[:,:-2])
pre1=pipeb.predict(test_one)

# accuracy 
print(pipeb.score(train_one.iloc[:,:-2], train_one.iloc[:,-2]))
print(pipeb.score(test_one, test_label.iloc[:,1]))


# Macro and Micro-Averaged Precision and Recall
# F1 Score
ba_f1= f1_score(pre,train_one.iloc[:,-2],average='macro') 
bi_f1= f1_score(pre,train_one.iloc[:,-2],average='micro')
b_f1= f1_score(pre,train_one.iloc[:,-2])

ba_f12= f1_score(pre1,test_label.iloc[:,1],average='macro') 
bi_f12= f1_score(pre1,test_label.iloc[:,1],average='micro')
b_f12= f1_score(pre1,test_label.iloc[:,1])

Fitting 3 folds for each of 3 candidates, totalling 9 fits
{'logres__C': 1} --- 0.7725718725718725
0.7749028749028749
0.7783733395478909

In [50]:
print(ba_f1)
print(bi_f1)
print(b_f1)

print(ba_f12)
print(bi_f12)
print(b_f12)

0.6860407069513947
0.774902874902875
0.8530709539990871
0.705001293638055
0.7783733395478909
0.8521225314881046

In [51]:
# without scaling
clf=LogisticRegression()
clf.fit(train_one.iloc[:,:-2], train_one.iloc[:,-2])
print("without scaling",clf.score(train_one.iloc[:,:-2], train_one.iloc[:,-2])) #
''' 
数据压缩后，模型训练快，精度高
'''

without scaling 0.7151515151515152

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

' \n数据压缩后，模型训练快，精度高\n'

In [57]:
# KNeighborsClassifier
pipec=Pipeline([('sc', StandardScaler()),('knb',KNeighborsClassifier())])

parameters = {'knb__n_neighbors':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,17,19,20]}

gs = GridSearchCV(pipec, parameters, verbose=2, refit=True, cv=3, n_jobs=-1)
gs.fit(train_one.iloc[:,:-2], train_one.iloc[:,-2])

# get best C and best score
print (gs.best_params_, '---',gs.best_score_) 

# take best k=17
pipec=Pipeline([('sc', StandardScaler()),('knb',KNeighborsClassifier(17))])
pipec.fit(train_one.iloc[:,:-2], train_one.iloc[:,-2])

# predict
pre=pipec.predict(train_one.iloc[:,:-2])
pre1=pipec.predict(test_one)

# accuracy 
print(pipec.score(train_one.iloc[:,:-2], train_one.iloc[:,-2]))
print(pipec.score(test_one, test_label.iloc[:,1]))

# Macro and Micro-Averaged Precision and Recall
# F1 Score

ca_f1= f1_score(pre,train_one.iloc[:,-2],average='macro') 
ci_f1= f1_score(pre,train_one.iloc[:,-2],average='micro')
c_f1= f1_score(pre,train_one.iloc[:,-2])

ca_f12= f1_score(pre1,test_label.iloc[:,1],average='macro') 
ci_f12= f1_score(pre1,test_label.iloc[:,1],average='micro')
c_f12= f1_score(pre1,test_label.iloc[:,1])

Fitting 3 folds for each of 18 candidates, totalling 54 fits
{'knb__n_neighbors': 17} --- 0.7693084693084694
0.7853146853146853
0.7730132836168725

In [59]:
print(ca_f1)
print(ci_f1)
print(c_f1)

print(ca_f12)
print(ci_f12)
print(c_f12)

0.7109784973599134
0.7853146853146854
0.8575552920554724
0.6878829925470105
0.7730132836168725
0.8508879363135332

In [60]:
#without scaling
clf=KNeighborsClassifier(17)
clf.fit(train_one.iloc[:,:-2], train_one.iloc[:,-2])
print("without scaling",clf.score(train_one.iloc[:,:-2], train_one.iloc[:,-2])) #0.700

'''  
根据交叉网格搜索聚类k最优解为17,数据规范后比规范前精度略有提升

'''

without scaling 0.7013209013209013

'  \n根据交叉网格搜索聚类k最优解为17,数据规范后比规范前精度略有提升\n\n'